/* common styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.btn {
  border: none;
  text-transform: capitalize;
  background-color: #fd6e0a;
  padding: 15px 30px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 20px;
}
.btn-style {
  background-color: transparent;
  color: #fd6e0a;
  border: 1px solid #fd6e0a;
}
.btn:hover {
  cursor: pointer;
  background-color: burlywood;
}

/*main styles*/
header {
  padding-top: 50px;
  /* background-color: #fff8f3; */
  background: url(../images/developer.png), url(../images/header_bg.png),#fff8f3;
  background-repeat: no-repeat;
  /* background-size: contain; */
  background-position: 23px 38px, bottom right;
  background-size: auto 90%, auto 60%;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}
.logo h1 {
  text-transform: uppercase;
  font-size: 45px;
}
.logo h1 span {
  color: #fd6e0a;
}
.menu {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}
.menu li {
  list-style: none;
  text-transform: capitalize;
}
.menu li a {
  text-decoration: none;
  color: #474747;
  font-size: 20px;
}

/* hero section started */

.hero-section {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 53px 35px 0px 240px;
}
.hero-content {
  width: 50%;
}
.hero-content h2 {
  color: #474747;
  font: 45px;
  font-weight: 600;
}
.hero-content h1 {
  font-size: 60px;
  margin-bottom: 15px;
}
.hero-content p {
  font-size: 18px;
  color: #757575;
  line-height: 1.8;
  margin-bottom: 20px;
}
.buttons {
  display: flex;
  gap: 15px;
}
.hero-image img {
  width: 500px;
  vertical-align: middle;
}
/* hero section ended */

/* about-section started */

.about-section {
  background-color: #fff8f3;
  margin: 100px auto;
  width: 80%;
  padding: 70px 120px;
}

.about-content {
  text-align: center;
}
.about-content h2 {
  font-size: 30px;
  font-weight: bold;
  color: #181818;
}
.about-content p {
  font-size: 15px;
  font-weight: normal;
  color: #757575;
  margin: 20px 0px;
}

.about-info{
  display: flex;
  gap: 25px;
  justify-content: space-around;
  text-align: center;
}
.info-box p{
  font-size: 16px;
  color: #757575;
  font-weight: 400;
  line-height: 30px;
}
.info-box h2{
  font-size: 16px;
  color: #474747;
}

/* about-section ended */


/* lang-section started */

.lang-section{
  width: 80%;
  margin: 120px auto
}

.lang-info{
  display: flex; 
  /* gap: 24px; */
  justify-content: space-around;
  
}
.lang-box{
  width: 220px;
  padding: 30px;
  /* text-align: justify; */
}
.lang-box img{
  width: 30px;
  height: 30px;
}
.lang-box h2{
  margin: 12px 0px;
  font-size: 18px;
  color: #474747;
}
.lang-box p{
  font-size: 14px;
  color: #757575;
  
}
.lang-content p{
  width: 70%; margin: 25px auto;
  line-height: 30px;
}