/* common styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.btn {
  border: none;
  text-transform: capitalize;
  background-color: #fd6e0a;
  padding: 15px 30px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 20px;
}
.btn-style{
  background-color: transparent;
  color: #FD6E0A;
  border: 1px solid #FD6E0A;
}
.btn:hover {
  cursor: pointer;
  background-color: burlywood;
}

/*main styles*/
header {
  padding-top: 50px;
  background-color: #fff8f3;
  background-image: url(../images/developer.png), url(../images/header_bg.png);
  background-repeat: no-repeat;
  /* background-size: contain; */
  background-position:top left, bottom right;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}
.logo h1 {
  text-transform: uppercase;
  font-size: 45px;
}
.logo h1 span {
  color: #fd6e0a;
}
.menu {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}
.menu li {
  list-style: none;
  text-transform: capitalize;
}
.menu li a {
  text-decoration: none;
  color: #474747;
  font-size: 20px;
}
.hero-section {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 53px 35px 0px 240px;
}
.hero-content{
  width: 50%;
}
.hero-content h2 {
  color: #474747;
  font: 45px;
  font-weight: 600;
}
.hero-content h1{
  font-size: 60px;
  margin-bottom: 15px;
}
.hero-content p {
  font-size: 18px;
  color: #757575;
  line-height: 1.8;
  margin-bottom: 20px;
}
.buttons{
  display: flex;
  gap: 15px;
}
.hero-image img{
  width: 500px;
  vertical-align: middle;
}