/* common styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.btn {
  border: none;
  text-transform: capitalize;
  background-color: #fd6e0a;
  padding: 15px 30px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 20px;
}
.btn-style {
  background-color: transparent;
  color: #fd6e0a;
  border: 1px solid #fd6e0a;
}
.btn:hover {
  cursor: pointer;
  background-color: burlywood;
}

/*main styles*/
header {
  padding-top: 50px;
  /* background-color: #fff8f3; */
  background: url(../images/developer.png), url(../images/header_bg.png),
    #fff8f3;
  background-repeat: no-repeat;
  /* background-size: contain; */
  background-position: 23px 38px, bottom right;
  background-size: auto 90%, auto 60%;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}
.logo h1 {
  text-transform: uppercase;
  font-size: 45px;
}
.logo h1 span {
  color: #fd6e0a;
}
.menu {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}
.menu li {
  list-style: none;
  text-transform: capitalize;
}
.menu li a {
  text-decoration: none;
  color: #474747;
  font-size: 20px;
}

/* hero section started */

.hero-section {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 53px 35px 0px 240px;
}
.hero-content {
  width: 50%;
}
.hero-content h2 {
  color: #474747;
  font: 45px;
  font-weight: 600;
}
.hero-content h1 {
  font-size: 60px;
  margin-bottom: 15px;
}
.hero-content p {
  font-size: 18px;
  color: #757575;
  line-height: 1.8;
  margin-bottom: 20px;
}
.buttons {
  display: flex;
  gap: 15px;
}
.hero-image img {
  width: 500px;
  vertical-align: middle;
}
/* hero section ended */

/* about-section started */

.about-section {
  background-color: #fff8f3;
  margin: 100px auto;
  width: 80%;
  padding: 70px 120px;
}

.about-content {
  text-align: center;
}
.about-content h2 {
  font-size: 30px;
  font-weight: bold;
  color: #181818;
}
.about-content p {
  font-size: 15px;
  font-weight: normal;
  color: #757575;
  margin: 20px 0px;
}

.about-info {
  display: flex;
  gap: 25px;
  justify-content: space-around;
  text-align: center;
}
.info-box p {
  font-size: 16px;
  color: #757575;
  font-weight: 400;
  line-height: 30px;
}
.info-box h2 {
  font-size: 16px;
  color: #474747;
}

/* about-section ended */

/* lang-section started */

.lang-section,
.resume-section {
  width: 80%;
  margin: 120px auto;
}

.lang-info {
  display: flex;
  /* gap: 24px; */
  justify-content: space-around;
}
.lang-box {
  width: 220px;
  padding: 30px;
  /* text-align: justify; */
}
.lang-box img {
  width: 30px;
  height: 30px;
}
.lang-box h2 {
  margin: 12px 0px;
  font-size: 18px;
  color: #474747;
}
.lang-box p {
  font-size: 14px;
  color: #757575;
}
.lang-content p {
  width: 70%;
  margin: 25px auto;
  line-height: 30px;
}
/* resume-section started */

.summary-container {
  display: flex;
  gap: 30px;
  padding-top: 110px;
}
.summary-box {
  width: 50%;
}
.summary-box hr {
  border-top: 1px solid #d1d1d1;
}
.summary-box h2 {
  color: #474747;
  font-size: 1.8rem;
}
.summary-content {
  margin: 25px 0px;
  width: 90%;
}
.summary-content h3 {
  color: #474747;
  font-size: 1.3rem;
}
.summary-content h4 {
  color: #474747;
  font-size: 1.1rem;
  font-weight: 500;
  margin-top: 3px;
}
.summary-content p {
  color: #757575;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 15px;
}
.resume-btn-container {
  text-align: center;
  margin-top: 20px;
}
/* footer area started */
footer {
  background-color: #fff8f3;
}
.footer-container {
  width: 80%;
  margin: 0 auto;
  padding: 120px 0px;
  display: flex;
  gap: 110px;
}
.footer-title {
  font-size: 1.7rem;
  color: #181818;
  margin-bottom: 25px;
}

.connect-container p {
  font-size: 0.9rem;
  color: #474747;
  line-height: 28px;
  margin-bottom: 25px;
}

.footer-menu {
  display: flex;
  gap: 24px;
}

.footer-menu li {
  list-style: none;
}

.footer-menu li a {
  text-decoration: none;
  color: #fd6e0a;
  font-size: 1rem;
}

.footer-menu li:hover {
  cursor: pointer;
}
.message-container input,
textarea {
  width: 75%;
  display: block;
  border: none;
  outline: none;
  padding: 22px 30px;
  margin-bottom: 20px;
  background-color: #ffffff;
}

.message-container {
  width: 70%;
}

.message-container textarea {
  height: 25vh;
}

.message-container button {
  margin-top: 20px;
}

/* Responsive */
@media screen and (max-width: 576px) {
  /* shared style */
  nav,
  .hero-section,
  .buttons,
  .about-info,
  .summary-container {
    flex-direction: column;
    gap: 25px;
  }
  /* header section */
  header {
    background: url(../images/header_bg.png), #fff8f3;
    background-repeat: no-repeat;
    background-position: bottom right;
  }
  .hero-section {
    width: 100%;
    margin: 0px;
  }
  .hero-content {
    width: 75%;
    margin-top: 50px;
    text-align: center;
  }
  .hero-content h1 {
    font-size: 51px;
  }
  .hero-image {
    width: 100%;
    margin-top: 25px;
  }

  .hero-image img {
    width: 100%;
  }
  /* about section */
  .about-section {
    width: 100%;
    padding: 70px 25px;
  }
  /* Language section */
  .lang-section {
    width: 100%;
  }
  .lang-info {
    flex-direction: column;
  }
  .lang-box {
    width: 100%;
    padding: 50px;
    text-align: justify;
  }
  /* resume section */
  .summary-container {
    gap: 70px;
  }
  .summary-box,
  .summary-content {
    width: 100%;
  }
  /* footer section */
  .footer-container {
    flex-direction: column;
    gap: 110px;
  }
  .message-container {
    width: 100%;
  }
}

/* Medium size device responsive */
@media screen and (min-width: 576px) and (max-width: 992px) {
  /* Header section */
  nav,
  .hero-section {
    flex-direction: column;
    gap: 25px;
  }
  .logo h1 {
    font-size: 5rem;
    margin-bottom: 10px;
  }
  .hero-section {
    width: 100%;
    margin: 0px;
    margin-top: 50px;
  }

  .hero-content {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  .buttons {
    justify-content: center;
  }
  .hero-image {
    width: 100%;
    margin-top: 25px;
  }

  .hero-image img {
    width: 100%;
  }
  /*about section*/
  .about-section {
    width: 90%;
    padding: 70px 20px;
  }
}
